<div class="reviews" id="reviews">

    <div class="container">

        <div class="reviews__slider" id="reviewsSlider">

            <div class="slick-item">
            <div class="reviews__item">
                <div class="reviews__photo">
                    <img class="reviews__img" src="img/reviews/review-1.jpg" alt="">
                </div>
                <div class="reviews__content">
                    <div class="reviews__text">
                        “Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Aenean
                        eu leo quam...”
                    </div>
                    <div class="reviews__author">
                        Susan Sims, Interaction Designer at XYZ
                    </div>
                </div>
            </div> <!-- /.reviews__item -->
            </div> <!-- /.class="slick-item" -->

            <div class="slick-item">
            <div class="reviews__item">
                <div class="reviews__photo">
                    <img class="reviews__img" src="img/reviews/review-1.jpg" alt="">
                </div>
                <div class="reviews__content">
                    <div class="reviews__text">
                        “Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam recusandae unde molestiae voluptatibus atque eos, id rem magni nulla, alias praesentium? Aspernatur quas deserunt molestiae laudantium ullam nam fugit natus!”
                    </div>
                    <div class="reviews__author">
                        Susan Sims, Interaction Designer at XYZ
                    </div>
                </div>
            </div> <!-- /.reviews__item -->
            </div>

        </div> <!-- /#reviewsSlider -->

    </div> <!-- /.container -->

</div> <!-- /.reviews -->
