.download {
    margin: 90px 0;
    text-align: center;
}

.download__title {
    margin-bottom: 10px;

    font-size: 28px;
    color: #2D3033;
    font-weight: 300;
}

.download__subtitle {
    margin-bottom: 30px;

    font-size: 13;
    font-weight: 700;
    text-transform: uppercase;
    color: #2D3033;
}
