
.features {
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;
}

.features__item {
    width: 33.33333%;
    padding: 0 30px;
    margin: 25px 0
        ;
    text-align: center;
}


.features__icon {
    margin-bottom: 20px;
}

.features__title {
    margin-bottom: 20px;

    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
}

.features__text {
    font-size: 14px;
    line-height: 1.5;
    color: #6C7279;
}
