
.footer {
    background-color: #3A3E64;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;

    padding: 70px 0;
}

.footer__block {
    width: 33.33333%;
    padding: 0 15px;

    text-align: center;
}

.footer__title {
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.footer__address {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;
    color: rgba(255, 255, 255, .5);
}

.social--footer {
    justify-content: center;
}

.social--footer .social__item {
    background-color: transparent;
    border-width: 2px;
    border-color: #fff;
    border-radius: 2px;
}

.social--footer .social__item:hover {
    background-color: #fff;
}

.social--footer .social__icon {
    fill: #fff;
}

.footer__text {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(255, 255, 255, .5);
}

.copyright {
    padding: 20px 0;

    background-color: #313454;
}

.copyright__text {
    text-align: center;
    font-size: 14;
    line-height: 1.5;
    color: #808080;
}

.copyright__text span {
    color: #fff;
}












