.reviews {
    overflow: hidden;
background-color: #53354a;
}

.reviews__slider {
    height: 500px;
    overflow: hidden;

    &.slick-initialized {
        height: auto;
    }
}

.reviews__item {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.reviews__photo {
    width: 50%;
    height: 500px;
    position: relative;
}

.reviews__img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;

    transform: translateY(-50%);
}

.reviews__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 80px;
}

.reviews__text {
    margin-bottom: 25px;

    font-family: 'Cardo', sans-serif;
    font-style: italic;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
}

.reviews__author {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 0 10px 0;
    list-style: none;
    width: 50%;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;

    & li {
        margin: 0 5px;
    }

    & button {
        width: 15px;
        height: 15px;
        padding: 0;

        background: #fff;
        border-radius: 50%;

        border: 0;
        opacity: .5;
        cursor: pointer;

        font-size: 0;
        color: transparent;

        &:focus {
            outline: 0;
        }
    }
}

.slick-dots .slick-active button {
    opacity: 1;
}
